a {
    color: white !important;
}

a.nav-link:hover {
    box-shadow: 0 2px #3A468C !important;
}

ul.nav-pill >.nav-item > .active{
    box-shadow: 0 2px #3A468C !important;
    color: #3A468a !important;
}

ul.nav-pill >.nav-item >.nav-link{
    color: #6c757d;
}
